# .env (backend)
PORT=3000
CORS_ORIGINS=http://localhost:4200

#En production, remplace la valeur par l'URL réelle de ton front. S'il y en a plusieurs, sépare-les par des virgules :
#CORS_ORIGINS=https://mon-front.com,https://www.mon-front.com